<Files artificial-network-traffic-generation-poster.pdf>
    Header add Link '<https://melisasavich.com/assets/pdf/artificial-network-traffic-generation-poster.pdf>; rel="canonical"'
</Files>

<Files commpact-evaluating-autonomous-vehicle-contracts.pdf>
    Header add Link '<https://melisasavich.com/assets/pdf/commpact-evaluating-autonomous-vehicle-contracts.pdf>; rel="canonical"'
</Files>

<Files taint-driven-embedded-software-fuzzing-abstract.pdf>
    Header add Link '<https://melisasavich.com/assets/pdf/taint-driven-embedded-software-fuzzing-abstract.pdf>; rel="canonical"'
</Files>

<Files taint-driven-embedded-software-fuzzing-poster.pdf>
    Header add Link '<https://melisasavich.com/assets/pdf/taint-driven-embedded-software-fuzzing-poster.pdf>; rel="canonical"'
</Files>

<Files taint-driven-firmware-fuzzing-embedded-systems-thesis.pdf>
    Header add Link '<https://melisasavich.com/assets/pdf/taint-driven-firmware-fuzzing-embedded-systems-thesis.pdf>; rel="canonical"'
</Files>

<Files thesis.pdf>
    Header add Link '<https://melisasavich.com/assets/pdf/taint-driven-firmware-fuzzing-embedded-systems-thesis.pdf>; rel="canonical"'
</Files>

